/* line 3, ../sass/style.scss */
body {
  font-size: 18px;
}

/* line 10, ../sass/style.scss */
.blueBtn {
  background: #003768;
  color: white;
  border-radius: 60px;
}

/* line 16, ../sass/style.scss */
.blueBtn:hover {
  color: #003768;
  background: white;
}

/* line 21, ../sass/style.scss */
.newsCard {
  background: #f2f0f1;
  margin-top: 40px;
}
/* line 25, ../sass/style.scss */
.newsCard .image {
  height: 250px;
  background-size: cover;
}
/* line 30, ../sass/style.scss */
.newsCard .text {
  height: 300px;
  padding: 16px;
}
/* line 36, ../sass/style.scss */
.newsCard a.read {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 80% !important;
  color: #003768 !important;
  border-radius: 25px;
  border: 1px solid #003768 !important;
}

/* line 48, ../sass/style.scss */
.reste {
  position: relative;
  z-index: 2;
}

/* line 53, ../sass/style.scss */
.textSize2 {
  font-size: 1.2em;
}

/* line 57, ../sass/style.scss */
.titre1 {
  font-size: 2.5rem;
}

/* line 61, ../sass/style.scss */
p.titre1 {
  line-height: 44px;
}

/* line 65, ../sass/style.scss */
.fontSlide {
  font-size: 60px;
}

/* line 72, ../sass/style.scss */
header:not(.withoutHeading) {
  height: 800px;
}

/* line 76, ../sass/style.scss */
header.withoutHeading {
  background: white;
}
/* line 79, ../sass/style.scss */
header.withoutHeading * {
  color: black !important;
}

/* line 84, ../sass/style.scss */
header {
  width: inherit !important;
  position: relative;
}
/* line 88, ../sass/style.scss */
header .btnJumbotron {
  padding: 10px 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 20%;
  border-radius: 50% !important;
  margin-top: 20px;
  font-size: 18px;
  padding: 12px 23px !important;
}
/* line 100, ../sass/style.scss */
header .btnJumbotron:hover {
  background: #003768 !important;
  border-color: #003768 !important;
  color: #ffe600 !important;
}
/* line 106, ../sass/style.scss */
header .one {
  background: url("../images/IMG-BVEA/heade-img.png");
  background-size: cover;
}
/* line 110, ../sass/style.scss */
header * {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 116, ../sass/style.scss */
header .btn {
  font-weight: bold;
  border-radius: 20px !important;
  padding: 5px 20px !important;
  text-transform: uppercase;
}
/* line 123, ../sass/style.scss */
header .jumbotron {
  background: transparent !important;
  box-shadow: none;
  display: flex;
  align-items: center;
  height: 100%;
}
/* line 124, ../sass/style.scss */
header .jumbotron *:not(a) {
  font-size: 60px;
}
/* line 134, ../sass/style.scss */
header #bvcarousel,
header #imgPanel {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 142, ../sass/style.scss */
header .carousel-item,
header .panelContent1 {
  height: 800px;
}
/* line 147, ../sass/style.scss */
header .panelContent1 {
  display: flex;
  align-items: flex-end;
}
/* line 151, ../sass/style.scss */
header .panelContent1 .yellowDivider {
  border: 2px solid #ffe600;
  width: 25%;
}
/* line 156, ../sass/style.scss */
header .panelContent1 .container {
  margin-bottom: 100px;
}
/* line 160, ../sass/style.scss */
header .panelContent1 .degrade {
  position: absolute;
  display: flex;
  align-items: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(bottom, #8f8a8a, 15%, transparent, 90%, #ffe600);
  background: -webkit-linear-gradient(bottom, #8f8a8a, 15%, transparent, 90%, #ffe600);
  background: linear-gradient(to top, #8f8a8a, 15%, transparent, 90%, #ffe600);
}
/* line 176, ../sass/style.scss */
header .whoArU {
  background: url("../images/IMG-BVEA/Groupe 291.png");
  background-size: cover;
}
/* line 180, ../sass/style.scss */
header .ourActions {
  background: url("../images/IMG-BVEA/Groupe 151.png");
  background-size: cover;
}
/* line 184, ../sass/style.scss */
header .aid {
  background: url("../images/IMG-BVEA/Groupe 234.png");
  background-size: cover;
}

/* line 190, ../sass/style.scss */
.btnOutlineNavbar {
  padding: 13px 23px;
  border-radius: 30px;
}

/* line 196, ../sass/style.scss */
.btnOutlineNavbar:hover {
  background: #003768 !important;
  color: #ffe600 !important;
  border-color: #003768 !important;
}

/* line 202, ../sass/style.scss */
nav {
  padding: 0px !important;
  margin-bottom: 0px !important;
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: none !important;
  background: transparent;
}
/* line 203, ../sass/style.scss */
nav .nav-link:hover:not(.btn) {
  color: black !important;
}
/* line 206, ../sass/style.scss */
nav .all {
  margin-right: 8%;
  font-weight: bold;
}
/* line 209, ../sass/style.scss */
nav .all .divider {
  border: 1px solid black;
  width: 80%;
}
/* line 214, ../sass/style.scss */
nav .all a {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 1.5em;
}
/* line 220, ../sass/style.scss */
nav .btnOutlineNavbar {
  border-radius: 60px !important;
  margin-top: 20px;
  font-size: 18px;
  padding: 12px 23px !important;
}
/* line 226, ../sass/style.scss */
nav .btnNavbar {
  border-radius: 60px !important;
  margin-top: 20px;
  font-size: 18px;
  padding: 15px 25px !important;
  color: #003768 !important;
  background: #ffe600;
}
/* line 235, ../sass/style.scss */
nav .btnNavbar:hover {
  background: #003768 !important;
  color: white !important;
}
/* line 243, ../sass/style.scss */
nav .mega-menu {
  background: #d6d0d0 !important;
}
/* line 247, ../sass/style.scss */
nav .mega-menu:not(.clickable) {
  padding: 20px !important;
}
/* line 252, ../sass/style.scss */
nav .nav-link:not(.btn) {
  height: 100% !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: inherit;
}
/* line 260, ../sass/style.scss */
nav .nav-item.item {
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 267, ../sass/style.scss */
nav .nav-item:hover {
  color: black !important;
}
/* line 271, ../sass/style.scss */
nav .agis {
  color: #ffe600 !important;
}
/* line 275, ../sass/style.scss */
nav *:not(i) {
  font-weight: normal !important;
  font-size: 1.08em;
}
/* line 280, ../sass/style.scss */
nav i {
  font-size: 1.6em;
}
/* line 284, ../sass/style.scss */
nav .navbar-brand {
  margin-left: 30px !important;
}
/* line 285, ../sass/style.scss */
nav .navbar-brand img {
  height: 72px;
  padding-bottom: 0;
  margin-bottom: 0;
}
/* line 301, ../sass/style.scss */
nav #navbarContent {
  height: 72px;
}
/* line 304, ../sass/style.scss */
nav #navbarContent ul {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
/* line 310, ../sass/style.scss */
nav #navbarContent .nav-item {
  width: 16.66% !important;
}
/* line 316, ../sass/style.scss */
nav .btn-outline {
  background: transparent !important;
}
/* line 320, ../sass/style.scss */
nav .nav-link:hover:not(.toClick) {
  background: #d6d0d0;
}
/* line 324, ../sass/style.scss */
nav #menuId {
  width: 75%;
  position: absolute;
  right: 0;
}
/* line 329, ../sass/style.scss */
nav #menuId ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 338, ../sass/style.scss */
footer {
  padding-top: 80px;
  padding-bottom: 50px;
}
/* line 342, ../sass/style.scss */
footer .social-info a {
  color: #252525;
  font-size: 20px;
  margin-right: 20px;
}
/* line 348, ../sass/style.scss */
footer .social-info a:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 767px) {
  /* line 353, ../sass/style.scss */
  footer .social-info a {
    margin-right: 5px;
    font-size: 12px;
  }
}
/* line 359, ../sass/style.scss */
footer .social-info a:hover,
footer .footer-content .social-info a:focus {
  color: #fc6060;
}

/* line 368, ../sass/style.scss */
.bolder {
  font-weight: bolder !important;
}

/* line 371, ../sass/style.scss */
.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
}

/* line 377, ../sass/style.scss */
.color1 {
  color: #ffe600 !important;
}

/* line 381, ../sass/style.scss */
.color2 {
  color: #003768 !important;
}

/* line 385, ../sass/style.scss */
.back1 {
  background: #ffe600 !important;
}

/* line 389, ../sass/style.scss */
.back2 {
  border-color: #003768 !important;
  background: #003768 !important;
  color: white !important;
}

/* line 395, ../sass/style.scss */
.back2::placeholder {
  color: white !important;
}

/* line 399, ../sass/style.scss */
.btn-de {
  color: #fff !important;
  font-size: 16px;
  border: 1px solid #fff;
}

/* line 405, ../sass/style.scss */
.btn-de:hover {
  background: #fff !important;
  font-size: 16px;
  color: #003768 !important;
}

/* line 411, ../sass/style.scss */
.wBtn:hover {
  background: #003768;
  color: white;
}

/* line 416, ../sass/style.scss */
.wBtn {
  color: #003768;
  background: white;
  border-radius: 60px;
}

/* line 422, ../sass/style.scss */
.v-divider {
  height: 20px;
  border-left: 1px solid white;
}

/* line 427, ../sass/style.scss */
.dropdown {
  position: static;
}
/* line 430, ../sass/style.scss */
.dropdown li {
  margin: 0 !important;
  padding: 0 !important;
}

/* line 436, ../sass/style.scss */
.dropdown:hover:not(.clickable) .dropdown-menu {
  display: block;
}

/* line 441, ../sass/style.scss */
.agisDrop .onglet1 {
  height: 120px;
  background: url("../images/IMG-BVEA/img-4.png");
  background-size: cover;
}
/* line 445, ../sass/style.scss */
.agisDrop .onglet1 div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
/* line 451, ../sass/style.scss */
.agisDrop .onglet1 div p {
  color: white !important;
  text-decoration: underline;
  font-size: 0.8em;
}

/* line 461, ../sass/style.scss */
div.clickable {
  height: 280px;
  padding: 0, 0, 40px, 0 !important;
  margin: 0 !important;
  position: relative;
}
/* line 465, ../sass/style.scss */
div.clickable * {
  color: black !important;
}
/* line 468, ../sass/style.scss */
div.clickable ul {
  list-style-type: none;
}
/* line 474, ../sass/style.scss */
div.clickable .firstUl {
  height: 275px;
  background: white !important;
  position: relative;
  right: 10px;
  bottom: 26px;
}
/* line 485, ../sass/style.scss */
div.clickable .firstUl > ul {
  position: relative;
}
/* line 492, ../sass/style.scss */
div.clickable .secondUl {
  position: absolute;
  right: 0px;
  top: 20px;
}
/* line 503, ../sass/style.scss */
div.clickable .secondUl a, div.clickable .firstUl a {
  text-transform: none !important;
  margin-bottom: 6px !important;
  padding: 0px !important;
  font-size: 20px;
}

/* line 511, ../sass/style.scss */
.dropdown-menu {
  background: #d6d0d0;
  color: black !important;
}
/* line 523, ../sass/style.scss */
.dropdown-menu .onglet * {
  color: black !important;
}
/* line 528, ../sass/style.scss */
.dropdown-menu .more {
  color: grey;
  font-size: 0.9em;
  text-transform: lowercase;
}

/* line 537, ../sass/style.scss */
.floatingBlue {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: #003768 !important;
}
/* line 546, ../sass/style.scss */
.floatingBlue i {
  color: white !important;
  font-size: 0.8em !important;
}

/* line 552, ../sass/style.scss */
.floatingBlue:hover {
  border-radius: 100%;
  background-color: #fff !important;
}
/* line 554, ../sass/style.scss */
.floatingBlue:hover * {
  color: #003768 !important;
}

/* line 560, ../sass/style.scss */
.yellowCard {
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ffe600;
}
/* line 565, ../sass/style.scss */
.yellowCard h5 {
  font-size: 1em;
  color: #003768;
}
/* line 570, ../sass/style.scss */
.yellowCard i {
  color: white;
  font-size: 2em;
}
/* line 575, ../sass/style.scss */
.yellowCard a {
  background-color: #003768;
}
/* line 582, ../sass/style.scss */
.yellowCard .floating {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: #003768 !important;
}
/* line 591, ../sass/style.scss */
.yellowCard .floating i {
  color: white !important;
  font-size: 0.8em !important;
}

/* line 598, ../sass/style.scss */
.blueCard {
  background: #003768;
}
/* line 601, ../sass/style.scss */
.blueCard * {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 607, ../sass/style.scss */
.blueCard h5 {
  font-size: 1em;
}
/* line 611, ../sass/style.scss */
.blueCard i {
  color: #ffe600;
  font-size: 2em;
}
/* line 616, ../sass/style.scss */
.blueCard .floating {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: white !important;
}
/* line 625, ../sass/style.scss */
.blueCard .floating i {
  color: #003768 !important;
  font-size: 1em !important;
}

/* line 632, ../sass/style.scss */
#news {
  padding: 80px;
  background: url("../images/IMG-BVEA/img-3.png");
  background-size: cover;
  position: relative;
}
/* line 638, ../sass/style.scss */
#news .img {
  height: 400px;
  padding: 0;
  background: url("../images/IMG-BVEA/img-2.png");
  background-size: cover;
}
/* line 643, ../sass/style.scss */
#news .img .card-body {
  width: 100% !important;
  background: -moz-linear-gradient(bottom, #ffe600, 40%, transparent);
  background: -webkit-linear-gradient(bottom, #ffe600, 40%, transparent);
  background: linear-gradient(to top, #ffe600, 40%, transparent);
}
/* line 648, ../sass/style.scss */
#news .cards {
  z-index: 2;
  position: absolute;
  width: 70%;
  left: 15%;
  top: -25%;
}
/* line 656, ../sass/style.scss */
#news .text {
  padding-top: 22%;
}
/* line 659, ../sass/style.scss */
#news .text h2 {
  color: #ffe600;
  text-transform: uppercase;
  font-size: 2.5em;
}
/* line 665, ../sass/style.scss */
#news .text p {
  font-size: 1.2em;
}
/* line 669, ../sass/style.scss */
#news .text .btn {
  border-radius: 30px !important;
  padding: 20px 50px !important;
  color: #003768;
}

/* line 677, ../sass/style.scss */
#newsletter {
  padding: 80px;
  background: url("../images/IMG-BVEA/img-4.png");
  background-size: cover;
}
/* line 681, ../sass/style.scss */
#newsletter form {
  width: 100% !important;
}
/* line 685, ../sass/style.scss */
#newsletter input {
  background: transparent;
  color: white;
  padding-left: 3%;
  height: 60px;
  width: 70%;
  border: 2px solid white;
  border-right: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
/* line 697, ../sass/style.scss */
#newsletter input::placeholder {
  color: white !important;
  font-weight: bold;
  font-size: 1.5em;
}
/* line 703, ../sass/style.scss */
#newsletter button {
  height: 60px;
  width: 30%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* line 712, ../sass/style.scss */
#actions {
  z-index: 2;
  padding: 80px;
  background: white;
}
/* line 717, ../sass/style.scss */
#actions .card {
  margin-bottom: 20px;
  margin-top: 20px;
}
/* line 722, ../sass/style.scss */
#actions .cards {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  background: -moz-linear-gradient(bottom, #ffe600, 5%, transparent);
  background: -webkit-linear-gradient(bottom, #ffe600, 5%, transparent);
  background: linear-gradient(to top, #ffe600, 5%, transparent);
}
/* line 732, ../sass/style.scss */
#actions .action .cards .content {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 20px;
  padding-right: 5%;
  font-weight: bolder;
  color: #fff;
}
/* line 744, ../sass/style.scss */
#actions .card-body {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100% !important;
  background: -moz-linear-gradient(bottom, #ffe600, 40%, transparent);
  background: -webkit-linear-gradient(bottom, #ffe600, 40%, transparent);
  background: linear-gradient(to top, #ffe600, 40%, transparent);
}
/* line 752, ../sass/style.scss */
#actions .action1 {
  background: url("../images/IMG-BVEA/img0.png");
  background-size: cover;
}
/* line 756, ../sass/style.scss */
#actions .action2 {
  background: url("../images/IMG-BVEA/img0.png");
  background-size: cover;
}
/* line 760, ../sass/style.scss */
#actions .action3 {
  background: url("../images/IMG-BVEA/img0.png");
  background-size: cover;
}

/* line 766, ../sass/style.scss */
#team {
  padding: 80px;
  background: url("../images/IMG-BVEA/Composant.png");
  background-size: cover;
}
/* line 771, ../sass/style.scss */
#team .wBtn {
  height: 60px;
  width: 25%;
}
/* line 775, ../sass/style.scss */
#team input {
  height: 60px;
  width: 90%;
  border: 2px solid white;
  border-right: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
/* line 784, ../sass/style.scss */
#team input::placeholder {
  color: black;
  font-size: 1em;
}
/* line 789, ../sass/style.scss */
#team .prepend {
  background: white;
  height: 60px;
  width: 10%;
  border: 1px solid white;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
/* line 797, ../sass/style.scss */
#team .prepend i {
  font-size: 2em;
  color: #6989a6;
}

/* line 804, ../sass/style.scss */
#forfaits {
  padding: 80px;
  background: white;
}
/* line 808, ../sass/style.scss */
#forfaits .card {
  position: relative;
  margin: 8px;
  height: 400px;
  padding: 0;
}
/* line 815, ../sass/style.scss */
#forfaits .card-body {
  width: 100% !important;
  background: -moz-linear-gradient(bottom, black, 40%, transparent);
  background: -webkit-linear-gradient(bottom, black, 40%, transparent);
  background: linear-gradient(to top, black, 40%, transparent);
  color: white;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 825, ../sass/style.scss */
#forfaits .btn {
  position: absolute;
  top: 5%;
  font-weight: bold;
  border-radius: 50px !important;
  padding: 15px 20px !important;
  text-transform: uppercase;
  background: #003768;
  color: white;
}
/* line 836, ../sass/style.scss */
#forfaits .btn:hover {
  text-transform: uppercase;
  background: #fff;
  color: #003768;
}
/* line 842, ../sass/style.scss */
#forfaits .action1 {
  background: url("../images/IMG-BVEA/Groupe 48.png");
  background-size: cover;
}
/* line 846, ../sass/style.scss */
#forfaits .action2 {
  background: url("../images/IMG-BVEA/Groupe 50.png");
  background-size: cover;
}
/* line 850, ../sass/style.scss */
#forfaits .action3 {
  background: url("../images/IMG-BVEA/img10.png");
  background-size: cover;
}

/* line 855, ../sass/style.scss */
#payment {
  padding: 80px;
  background: #4d4d4d;
}
/* line 860, ../sass/style.scss */
#payment form {
  width: 100% !important;
}
/* line 864, ../sass/style.scss */
#payment h4 {
  margin: 0;
  padding: 0;
}
/* line 869, ../sass/style.scss */
#payment input {
  background: transparent;
  color: white;
  padding-left: 3%;
  height: 70px;
  width: 40%;
  border: 2px solid white;
  border-right: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
/* line 881, ../sass/style.scss */
#payment input::placeholder {
  color: white !important;
  font-weight: bold;
  font-size: 1.5em;
}
/* line 887, ../sass/style.scss */
#payment button {
  background: #ffe600;
  border: 1px solid #ffe600;
  height: 70px;
  width: 20%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* line 897, ../sass/style.scss */
.grayDivider {
  border: 1px solid gray;
  width: 50%;
}

/* line 902, ../sass/style.scss */
.bg-footer {
  background-color: #faf6f6;
}

/* line 907, ../sass/style.scss */
.mycard {
  margin: 5%;
  padding: 5%;
  color: white;
  display: flex;
  justify-content: flex-end;
}
/* line 913, ../sass/style.scss */
.mycard ul {
  font-size: 2.5em;
  font-weight: bolder;
}
/* line 914, ../sass/style.scss */
.mycard ul h3 {
  font-size: 1.05em;
  font-weight: bolder;
}
/* line 922, ../sass/style.scss */
.mycard .btn {
  width: 50%;
  border-radius: 60px;
}

/* line 929, ../sass/style.scss */
.textCard {
  margin: auto 30px;
}
/* line 931, ../sass/style.scss */
.textCard p {
  font-size: 1.2em;
}

/* line 937, ../sass/style.scss */
#visions .c1 {
  background: url("../images/IMG-BVEA/Groupe 317.png");
  background-size: cover;
}
/* line 940, ../sass/style.scss */
#visions .c2 {
  background: url("../images/IMG-BVEA/Groupe 321.png");
  background-size: cover;
}

/* line 945, ../sass/style.scss */
.imgCard {
  height: 300px;
  width: 91%;
  margin: auto 8%;
  color: white;
}
/* line 950, ../sass/style.scss */
.imgCard div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: 4%;
  width: 100% !important;
  background: -moz-linear-gradient(bottom, #003768, 40%, transparent);
  background: -webkit-linear-gradient(bottom, #003768, 40%, transparent);
  background: linear-gradient(to top, #003768, 40%, transparent);
}

/* line 960, ../sass/style.scss */
.c1 {
  background: url("../images/IMG-BVEA/img-2.png");
  background-size: cover;
}

/* line 964, ../sass/style.scss */
.line {
  margin-top: 60px;
}

/* line 969, ../sass/style.scss */
#chiffres {
  background: #003768;
}
/* line 970, ../sass/style.scss */
#chiffres *:not(.titre1) {
  color: white;
}

/* line 976, ../sass/style.scss */
#axesAction {
  padding-bottom: 500px;
}
/* line 978, ../sass/style.scss */
#axesAction .mycard {
  height: 320px;
  position: relative;
}
/* line 981, ../sass/style.scss */
#axesAction .mycard div {
  padding-bottom: 3% !important;
  padding-left: 3% !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: 100% !important;
  background: -moz-linear-gradient(bottom, #5f5959, 40%, transparent);
  background: -webkit-linear-gradient(bottom, #5f5959, 40%, transparent);
  background: linear-gradient(to top, #5f5959, 40%, transparent);
}
/* line 984, ../sass/style.scss */
#axesAction .mycard ul {
  padding-left: 10% !important;
}
/* line 988, ../sass/style.scss */
#axesAction .mycard p {
  font-size: 1em;
}
/* line 992, ../sass/style.scss */
#axesAction .mycard *:not(.btn) {
  margin: 0;
  padding: 0;
}
/* line 997, ../sass/style.scss */
#axesAction .one {
  background: url("../images/IMG-BVEA/Groupe 348.png");
  background-size: cover;
}
/* line 1000, ../sass/style.scss */
#axesAction .two {
  background: url("../images/IMG-BVEA/Groupe 349.png");
  background-size: cover;
}
/* line 1003, ../sass/style.scss */
#axesAction .three {
  background: url("../images/IMG-BVEA/Groupe 348.png");
  background-size: cover;
}
/* line 1006, ../sass/style.scss */
#axesAction .four {
  background: url("../images/IMG-BVEA/Groupe 349.png");
  background-size: cover;
}

/* line 1013, ../sass/style.scss */
#dates {
  position: relative;
  height: 200px;
  background: #e2dfdf;
}
/* line 1017, ../sass/style.scss */
#dates .wrapper {
  width: 60%;
  position: absolute;
  left: 20%;
  top: -260px;
}
/* line 1022, ../sass/style.scss */
#dates .wrapper .card {
  position: relative;
  height: 600px !important;
}
/* line 1025, ../sass/style.scss */
#dates .wrapper .card .raye {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 100%;
  background: url("../images/IMG-BVEA/heade-img.png");
  background-size: cover;
}
/* line 1028, ../sass/style.scss */
#dates .wrapper .card .raye .bande {
  opacity: 0.6;
  width: 9.6%;
  height: 100%;
}

/* line 1045, ../sass/style.scss */
#organisation {
  padding-top: 350px;
}
/* line 1047, ../sass/style.scss */
#organisation .mycard {
  height: 450px;
  padding-bottom: 3% !important;
  padding-left: 3% !important;
  display: flex;
  margin: 2%;
}
/* line 1048, ../sass/style.scss */
#organisation .mycard div {
  padding-bottom: 3% !important;
  padding-left: 3% !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: 100% !important;
  background: -moz-linear-gradient(bottom, #494545, 40%, transparent);
  background: -webkit-linear-gradient(bottom, #494545, 40%, transparent);
  background: linear-gradient(to top, #494545, 40%, transparent);
}
/* line 1051, ../sass/style.scss */
#organisation .mycard p {
  font-size: 1.1em;
}
/* line 1055, ../sass/style.scss */
#organisation .mycard .btn {
  width: 80% !important;
}
/* line 1063, ../sass/style.scss */
#organisation .mycard .btn {
  width: 90%;
}
/* line 1067, ../sass/style.scss */
#organisation .one {
  background: url("../images/IMG-BVEA/Groupe 331.png");
  background-size: cover;
}
/* line 1071, ../sass/style.scss */
#organisation .two {
  background: url("../images/IMG-BVEA/Groupe 333.png");
  background-size: cover;
}
/* line 1075, ../sass/style.scss */
#organisation .three {
  background: url("../images/IMG-BVEA/Groupe 335.png");
  background-size: cover;
}
/* line 1079, ../sass/style.scss */
#organisation .international {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: flex-end;
}
/* line 1084, ../sass/style.scss */
#organisation .international .bCard {
  position: relative;
  width: 70%;
  height: 600px;
  background: url("../images/IMG-BVEA/heade-img.png");
  background-size: cover;
}
/* line 1090, ../sass/style.scss */
#organisation .international .bCard p {
  font-size: 1.2em;
}
/* line 1094, ../sass/style.scss */
#organisation .international .bCard .yellow {
  padding: 5%;
  position: absolute;
  top: 50px;
  left: -40%;
  height: 500px;
  width: 90%;
}
/* line 1103, ../sass/style.scss */
#organisation .international .bCard .button {
  width: 40%;
  border-radius: 40px;
  border-color: #003768 !important;
  color: #003768 !important;
}
/* line 1110, ../sass/style.scss */
#organisation .international .bCard .button:hover {
  color: #ffe600 !important;
}
/* line 1118, ../sass/style.scss */
#organisation .readMoreLink {
  font-size: 1.4em;
}

/* line 1123, ../sass/style.scss */
#ressources {
  background: #e6e6e6;
  padding-bottom: 100px;
}
/* line 1126, ../sass/style.scss */
#ressources .line {
  border-bottom: 1px solid black;
}

/* line 1132, ../sass/style.scss */
section {
  padding: 50px 50px;
}

/* line 1140, ../sass/style.scss */
#ourActions .c1 {
  background: url("../images/IMG-BVEA/Groupe 163.png");
  background-size: cover;
}
/* line 1143, ../sass/style.scss */
#ourActions .c2 {
  background: url("../images/IMG-BVEA/Groupe 167.png");
  background-size: cover;
}
/* line 1146, ../sass/style.scss */
#ourActions .c3 {
  background: url("../images/IMG-BVEA/Groupe 173.png");
  background-size: cover;
}

/* line 1150, ../sass/style.scss */
.listenGray {
  background: #4d4d4d;
}
/* line 1152, ../sass/style.scss */
.listenGray *:not(.color1) {
  color: white !important;
}

/* line 1157, ../sass/style.scss */
.listenGray, .listenWhite {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}
/* line 1161, ../sass/style.scss */
.listenGray .btn, .listenWhite .btn {
  width: 50% !important;
}

/* line 1168, ../sass/style.scss */
.listenGray .wBtn {
  background: transparent !important;
  border: 1px solid white !important;
}
/* line 1173, ../sass/style.scss */
.listenGray .wBtn:hover {
  color: #ffe600 !important;
  background: #003768 !important;
  border-color: #003768 !important;
}

/* line 1183, ../sass/style.scss */
.wB {
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px 50px;
  color: white;
}

/* line 1191, ../sass/style.scss */
#newsletter .btns .wB {
  height: 50px;
  width: 40%;
}
/* line 1196, ../sass/style.scss */
#newsletter .btns .wBtn {
  height: 50px;
  width: 25%;
}

/* line 1202, ../sass/style.scss */
.wB:hover {
  color: #003768;
  background: white;
  font-weight: bold;
}

/* line 1209, ../sass/style.scss */
.aidCard {
  position: relative;
  padding: 5%;
  width: 80%;
  height: 500px;
  margin-top: 80px;
  color: white;
}
/* line 1218, ../sass/style.scss */
.aidCard .content {
  padding-left: 2%;
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* line 1227, ../sass/style.scss */
.aidCard .whiteDivider {
  width: 50%;
  border: 0.5px solid gray;
}
/* line 1235, ../sass/style.scss */
.aidCard .aidMore.two {
  height: 400px;
}
/* line 1240, ../sass/style.scss */
.aidCard .aidMore {
  position: absolute;
  right: -15%;
  top: -40px;
  height: 500px;
  width: 42%;
}
/* line 1247, ../sass/style.scss */
.aidCard .aidMore .tHeight {
  height: 100%;
}
/* line 1252, ../sass/style.scss */
.aidCard .aidMore input {
  padding-left: 8%;
  background: transparent;
  border: 1px solid white;
  height: 50px;
}
/* line 1259, ../sass/style.scss */
.aidCard .aidMore input::placeholder {
  color: white;
}
/* line 1262, ../sass/style.scss */
.aidCard .aidMore .inputLg {
  border-radius: 25px;
  width: 100%;
}
/* line 1267, ../sass/style.scss */
.aidCard .aidMore .miLg {
  width: 70%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-right: none;
}
/* line 1274, ../sass/style.scss */
.aidCard .aidMore .afterInput {
  padding-right: 8%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  border: 1px solid white;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-left: none;
}
/* line 1287, ../sass/style.scss */
.aidCard .aidMore .half {
  padding: 6%;
  height: 50%;
}
/* line 1289, ../sass/style.scss */
.aidCard .aidMore .half .row {
  margin-left: 3%;
  width: 94%;
}
/* line 1296, ../sass/style.scss */
.aidCard .aidMore .yellowBtn {
  margin-left: 10%;
  background: #ffe600;
  border: 1px solid #ffe600;
  color: #003768;
  width: 80%;
  border-radius: 25px;
  width: 80%;
  height: 35px;
}
/* line 1307, ../sass/style.scss */
.aidCard .aidMore .third {
  padding: 6%;
  height: 33%;
}
/* line 1313, ../sass/style.scss */
.aidCard .aidMore .tThirds {
  padding: 6%;
  height: 77%;
}
/* line 1319, ../sass/style.scss */
.aidCard .choice {
  cursor: pointer;
  height: 40px;
  color: #003768;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 1329, ../sass/style.scss */
.aidCard .bgWhite {
  background: white !important;
}

/* line 1334, ../sass/style.scss */
.aidCard.one {
  background-image: linear-gradient(to top, rgba(30, 30, 32, 0.52), transparent), url("../images/IMG-BVEA/Groupe 260.png");
}

/* line 1338, ../sass/style.scss */
.aidCard.two {
  background-image: linear-gradient(to top, rgba(30, 30, 32, 0.52), transparent), url("../images/IMG-BVEA/Groupe 270.png");
}

/* line 1342, ../sass/style.scss */
.aidCard.three {
  background-image: linear-gradient(to top, rgba(30, 30, 32, 0.52), transparent), url("../images/IMG-BVEA/Groupe 265.png");
}

/* line 1346, ../sass/style.scss */
.aidCard.four {
  background-image: linear-gradient(to top, rgba(30, 30, 32, 0.52), transparent), url("../images/IMG-BVEA/Groupe 279.png");
}

/* line 1351, ../sass/style.scss */
.aidCard.five {
  background-image: linear-gradient(to top, rgba(30, 30, 32, 0.52), transparent), url("../images/IMG-BVEA/Groupe 232.png");
}

/* line 1356, ../sass/style.scss */
.aidC1 {
  background-image: linear-gradient(to top, rgba(30, 30, 32, 0.52), transparent), url("../images/IMG-BVEA/Groupe 246.png");
}

/* line 1360, ../sass/style.scss */
.trust {
  width: 96%;
  margin-left: 2%;
  padding: 10px 30px 30px 30px;
  background: #f7efef !important;
}

/* line 1368, ../sass/style.scss */
.bottomHeader {
  position: relative;
  bottom: 60px;
  background: rgba(43, 43, 43, 0.5);
  height: 60px !important;
}
/* line 1373, ../sass/style.scss */
.bottomHeader a {
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px !important;
  color: white;
}
/* line 1382, ../sass/style.scss */
.bottomHeader a:hover {
  color: #ffe600;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 1394, ../sass/style.scss */
#article * {
  background-size: cover !important;
}
/* line 1398, ../sass/style.scss */
#article .articleImg {
  height: 500px;
  width: 100%;
}
/* line 1403, ../sass/style.scss */
#article .article {
  padding: 15px;
}
/* line 1407, ../sass/style.scss */
#article .latest {
  background: #fff3f3;
  width: 94%;
  margin-left: 3%;
  padding-bottom: 80px;
  border-bottom-right-radius: 100px;
}
/* line 1413, ../sass/style.scss */
#article .latest .title {
  height: 50px;
  width: 100%;
  background: #48a3c7;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
/* line 1424, ../sass/style.scss */
#article .latest .more {
  font-weight: 400;
}
/* line 1428, ../sass/style.scss */
#article .latest .seeAllBtn {
  border-radius: 25px;
  width: 70%;
}
/* line 1434, ../sass/style.scss */
#article .divider {
  border: 0.5px solid #b4b2b2;
}

/* line 1442, ../sass/style.scss */
#aLaUne {
  padding: 100px 0px;
}
/* line 1444, ../sass/style.scss */
#aLaUne * {
  background-size: cover !important;
}
/* line 1448, ../sass/style.scss */
#aLaUne .btnOutlineNavbar {
  width: 40%;
}
/* line 1453, ../sass/style.scss */
#aLaUne .height {
  height: 500px;
}
/* line 1456, ../sass/style.scss */
#aLaUne .aLaUne2, #aLaUne .aLaUne3 {
  height: 240px;
  width: 100%;
}
/* line 1461, ../sass/style.scss */
#aLaUne div[class^="aLaUne"] {
  padding: 2% 3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* line 1469, ../sass/style.scss */
.totalRadius {
  border-radius: 60px !important;
}

/* line 1473, ../sass/style.scss */
input.totalRadius {
  border: 2px solid white !important;
  width: 80% !important;
  padding-left: 4% !important;
}
/* line 1478, ../sass/style.scss */
input.totalRadius::placeholder {
  font-size: 1.3em !important;
}

/* line 1483, ../sass/style.scss */
select#filtre {
  height: 60px;
  padding-left: 8%;
  background: white;
  width: 200px;
  border: 1px solid black;
  border-radius: 25px;
}
/* line 1487, ../sass/style.scss */
select#filtre option {
  text-align: center;
}

/* line 1496, ../sass/style.scss */
#temoignages {
  background: #ffe600;
}
/* line 1498, ../sass/style.scss */
#temoignages .newsCard {
  background: white;
}
/* line 1502, ../sass/style.scss */
#temoignages h2:not(.titre1) {
  font-size: 1.1em;
}
/* line 1506, ../sass/style.scss */
#temoignages .blueBtn {
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  width: 40%;
}

/* line 1514, ../sass/style.scss */
#followUs {
  background: white;
}
/* line 1517, ../sass/style.scss */
#followUs a {
  background: #003768;
  height: 80px;
  width: 80px;
  padding: 25px;
}
/* line 1522, ../sass/style.scss */
#followUs a i {
  font-size: 30px;
  color: white;
}
/* line 1527, ../sass/style.scss */
#followUs a:hover {
  background: white;
}
/* line 1529, ../sass/style.scss */
#followUs a:hover i {
  color: #003768;
}

/* line 1540, ../sass/style.scss */
#moreNews .guide a:hover {
  font-weight: bold;
}
